*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: sans-serif
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color:rgba(255, 68, 0, 0.897);
    font-weight: 1000;
    text-decoration: none;
    margin-right: 30px;
    font-size: 130%;
}
nav > a:hover{
    text-decoration: underline;
}
.formulario{
    text-align: center;
    color:rgb(255, 68, 0);
    font-size: 200%;
}
